* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

ol,
ul {
  list-style: none;
}

.dlmode {
  position: absolute;
  top: -8px;
  left: 36px;
}

.dark {
  background: #000;
  color: rgb(200, 193, 193);
}

.dark h4 {
  color: rgb(200, 193, 193) !important;
}

.dark .group-list {
  box-shadow: 0px 5px 23px 0px #5912d3b4;
}

.dark .group-list .box {
  border-bottom: 1px solid #5912d3b4;
}

.text {
  display: inline-block;
  color: #000;
  position: absolute;
  top: 11px;
  width: 200px;
  left: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.dark .text {
  color: #fff;
}

.light {
  background: #fff;
}

.registration-part .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding: 0px !important;
}
.registration-part .box {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.registration-part h2 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #11175d;
  margin: 0;
  margin-top: 225px;
}

.registration-part p {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #11175d;
  margin: 0;
}

.registration-part .MuiFormHelperText-root {
  color: red;
  font-size: 14px;
}

/* .registration-part button {
  margin-top: 40px;
} */
.login-part button {
  margin-top: 40px;
  background: red;
}

.registration-part .msg {
  font-size: 13px;
  margin-top: 35px;
}

.registration-part .forgot {
  font-size: 13px;
  margin-top: 35px;
  margin-left: 90px;
}

.login-part .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 0;
}

.registration-part .loginoption {
  display: flex;
}

.registration-part .option {
  padding: 20px 40px;
  padding-left: 92px;
  border: 1px solid rgba(3, 1, 76, 0.099);
  margin-right: 20px;
  border-radius: 9px;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.registration-part .option img {
  position: absolute;
  top: 18px;
  left: 54px;
}

.registration-part .option {
  cursor: pointer;
}

.login-part {
  display: inline-block;
  color: #ea6c00;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.registration-part .forgot a {
  display: inline-block;
  color: #ea4200;
  font-size: 13px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.registration-part .eye {
  position: relative;
  width: 355px;
}

.registration-part .eyeicon {
  position: absolute;
  right: 0;
  bottom: 17px;
}

.registration-part .css-1a1lkbh-MuiPaper-root-MuiAlert-root {
  width: 325px;
}

.leftbar {
  width: 186px;
  height: 100vh;
  background: #5f35f5;
  margin: 35px;
  border-radius: 20px;
  text-align: center;
  padding-top: 38px;
}

.leftbar .profilepicbox {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 38px;
  margin: 0 auto;
  position: relative;
}

.leftbar .profilepic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.img-preview {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 38px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* .img-preview img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  object-fit: cover;
} */

.leftbar .profilepicbox .overlay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.274);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.leftbar .profilepicbox:hover .overlay {
  opacity: 1;
}

.leftbarbox .profilepicbox {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 38px;
  margin: 0 auto;
  position: relative;
}

.leftbarbox .profilepic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.leftbar li {
  margin-top: 67px;
  width: 90%;
  margin-left: auto;
  padding: 20px 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.leftbar li::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: #5f35f5;
  content: "";
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.leftbar .active {
  background: #fff;
}

.leftbar .icon {
  font-size: 45px;
  color: #bad1ff;
  margin-left: -25px;
}
.leftbar .logout :hover {
  font-size: 55px;
  color: #fff;
  margin-left: -25px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.leftbar .active .icon {
  color: #5f35f5;
}

.leftbar h5 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.leftbar-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftbarbox {
  width: 500px;
  height: 500px;
  background-color: #fff;
  padding: 50px;
}

.search {
  margin-top: 35px;
  position: relative;
}

.search input {
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border: 0 !important;
  border-radius: 20px !important;

  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
}

.search .search-icon {
  position: absolute;
  top: 35%;
  transform: translate(-50%);
  left: 23px;
  font-size: 20px;
}

.search .menu {
  position: absolute;
  top: 35%;
  transform: translate(-50%);
  right: 23px;
  font-size: 20px;
  color: #5f35f5;
}

.group-list {
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border: 0 !important;
  border-radius: 20px !important;

  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  height: 380px;
  overflow-y: scroll;
  margin-top: 43px;
}

.friend-list {
  height: 468px;
  padding: 17px 30px;
}

.my-group {
  height: 380px;
  padding: 17px 30px;
}

.group-list h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.group-list .box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0.23);
  padding-bottom: 13px;
  margin-top: 17px;
}

.group-list .box h1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.group-list .box h4 {
  font-family: "popins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #4d4d4dc1;
}

.group-list .box:last-child {
  border: 0;
}

.group-list .box .img img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.group-list .name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.group-list .box .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-list .box .button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.user-list .box .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-list .box .button p {
  font-family: "popins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #4d4d4dde;
}
.my-group .box .button p {
  font-family: "popins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #4d4d4dde;
}

.group-list .button button {
  background: #5f35f5;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.userinfo li {
  border-bottom: 1px solid #5f35f5;
  padding: 10px 0px;
}

.userinfo li span {
  color: #5f35f5;
  font-weight: bolder;
}

.off,
.on {
  font-size: 50px;
}

.off {
  color: #fff;
}

.leftbarbox button {
  background: #5f35f5;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.group-button button {
  background: #5f35f5;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.forgotpassword {
  background-color: #5f35f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forgotpassword h2 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.forgotpassword .forgot {
  background: #fff;
  border-radius: 8px;
  padding: 50px;
}

.forgotpassword .forgot h2 {
  color: #5f35f5;
}

.forgotpassword .forgot p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #11175d;
  margin-top: 10px;
  margin-bottom: 20px;
}

.chat {
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border: 0 !important;
  border-radius: 20px !important;

  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  height: 380px;
  overflow-y: scroll;
  margin-top: 43px;
}

.chat .top-area {
  display: flex;
}

.chat .top-area .info {
  display: flex;
  align-items: center;
}

.chat .img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 33px;
  position: relative;
  filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.584));
}

.chat .img .round {
  width: 13px;
  height: 13px;
  background: #00ff75;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  bottom: 3px;
  right: 6px;
}

.chat .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.chat .identity h3 {
  font-family: "popins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
